.container
    .card.z-depth-5
        .card-content
            %span.card-title.black-text Editar
                =resource_name.to_s.humanize
            =form_for resource, as: resource_name, url: registration_path, html: { method: :put } do |f|
                =devise_error_messages!
                .row.space-top
                    .input-field.col.s8.offset-s2
                        =f.text_field :username, autofocus: true
                        =f.label :username, "Nombre de Usuario"
                    .input-field.col.s8.offset-s2
                        =f.email_field :email, autocomplete: "email"
                        =f.label :email, "Coreo electrónico"
                    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                        %div Currently waiting confirmation for:
                            =resource.unconfirmed_email
                    .input-field.col.m4.s8.offset-s2.offset-m2.truncate
                        =f.password_field :password, autocomplete: "new-password"
                        =f.label :password do
                            Contraseña (Dejar en blanco si no se requiere cambiar contraseña)
                            - if @minimum_password_length
                                %em
                                    ="(#{@minimum_password_length} caracteres mínimo)"
                    .input-field.col.m4.s8.offset-s2.truncate
                        =f.password_field :password_confirmation, autocomplete: "new password"
                        =f.label :password_confirmation, "Vuelve a escribir la contraseña"
                    .input-field.col.m6.s8.offset-s2.offset-m3.truncate
                        =f.password_field :current_password, autocomplete: "Contraseña actual"
                        =f.label :current_password do
                            Necesitamos tu contraseña actual para confirmar los cambios
                    .col.s12.space-top
                        %center
                            =button_tag(type: 'submit', class: 'btn waves-effect waves-light blue darken-3') do
                                =mi.send.css_class('right')
                                Iniciar Sesión
            %hr
            %h3 Borrar mi cuenta
            %p Deseo borrar mi cuenta
                =button_to "Borrar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete
            =link_to "Regresar", :bac   k
