// Place all the styles related to the administrador controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.space-top{
    margin-top: 10px;
}
.space-buttom{
    margin-bottom: 10px;
}
.tab{
    text-indent: 2em;
}

//Para eliminar espacios extra en las tablas, eso mueve todo al movento de usarlas como responsive
table.responsive-table thead tr th::before {
    content: "" !important;
}
