<!DOCTYPE html>
%html
    %head
        %title Examen
        =csrf_meta_tags
        =csp_meta_tag
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
        = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %body.grey.lighten-2
        - if administrator_signed_in?
            =render partial: "layouts/sideNav"
        =yield
    %script
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();
        $('.tooltipped').tooltip({delay: 50});
        $('select').material_select();
        $(".dropdown-content>li>span").css("color", azul);
        -if notice
            Materialize.toast(<%= notice %>, 3000, 'rounded')
        - if alert
            Materialize.toast(<%= alert %>, 3000, 'rounded')
